html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    background:#7a7070;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    /*width: 800px;
    height: 800px;
    */
    border: 2px solid #333;
    background-color: #333;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}

.cell {
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

button {
    font-size: 30px;
    padding: 1rem;
}

.btnRow {
    padding: 1rem;
    display: flex;
    gap: 10px;
}
