html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #9ca3af;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 80vh;
    height: 80vh;
    border: 2px solid #333;
    background-color: #333;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
}

.cell {
    background-color: #d3d3d3;
    border: 1px solid #4b5563;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

button {
    font-size: 30px;
    padding: 1rem;
    border-radius: 20px;
    background-color: #a78bfa;
    color: #ffffff;
}
#clearBtn {
    background-color: #dc2626;
}
#enterBtn {
    background-color: #2563eb;
}
#specialBtn {
    background-color: #a78bfa;
}

button:hover {
    background-color: #e9c9b679;
}

.btnRow {
    padding: 1rem;
    display: flex;
    gap: 10px;
}
